# Day007: String and Data Structure

## 1. Strings

In [4]:
str1 = 'hello, world!'
print(str1)

hello, world!

## 1.1 Length

In [5]:
print(len(str1))

13

## 1.2 Capitalize

In [6]:
print(str1.capitalize())

Hello, world!

In [7]:
print(str1.upper())

HELLO, WORLD!

## 1.3 Search

In [9]:
print(str1.find('or'))
print(str1.find('shit'))

8
-1

In [11]:
print(str1.index('or'))
print(str1.index('shit'))

8

ValueError: substring not found

## 1.4 Start and End with

In [17]:
print(str1.startswith('He'))
print(str1.startswith('hel'))
print(str1.endswith('!'))

False
True
True

## 1.5 Location

In [18]:
print(str1.center(50,'*'))

******************hello, world!*******************

In [19]:
print(str1.rjust(50,' '))

                                     hello, world!

## 1.6 Slice

In [20]:
str2 = 'abc123456'
print(str2[2])
print(str2[2:5])
print(str2[2:])
print(str2[2::2])
print(str2[::2])
print(str2[::-1])
print(str2[-3:-1])

c
c12
c123456
c246
ac246
654321cba
45

## 1.7 Digital and Alpha

In [21]:
print(str2.isdigit())
print(str2.isalpha())
print(str2.isalnum())

False
False
True

## 1.8 Strip

In [22]:
str3 = '  jackfrued@126.com '
print(str3)
print(str3.strip())

  jackfrued@126.com
jackfrued@126.com

## 2. List

In [59]:
list1 = [1,3,5,7,100]
print(list1)
list2 = ['hello']*5
print(list2)

[1, 3, 5, 7, 100]
['hello', 'hello', 'hello', 'hello', 'hello']

### 2.1 Length

In [60]:
print(len(list1))

5

### 2.2 Selection

In [61]:
print(list1[0])
print(list1[4])
# print(list1[5])  # IndexError: list index out of range
print(list1[-1])
print(list1[-3])

1
100
100
5

### 2.3 Change Elements

In [62]:
print(list1)
list1[2] = 300
print(list1)

[1, 3, 5, 7, 100]
[1, 3, 300, 7, 100]

### 2.4 Add elements

In [63]:
list1.append(200)
print(list1)

[1, 3, 300, 7, 100, 200]

In [64]:
list1.insert(1,400)
print(list1)

[1, 400, 3, 300, 7, 100, 200]

In [65]:
list1 +=[1000, 2000]
print(list1)

[1, 400, 3, 300, 7, 100, 200, 1000, 2000]

### 2.5 Remove elements

In [66]:
list1.remove(3)
print(list1)

[1, 400, 300, 7, 100, 200, 1000, 2000]

In [67]:
if 1234 in list1:
    list1.remove(1234)
print(list1)

[1, 400, 300, 7, 100, 200, 1000, 2000]

In [68]:
del list1[0]
print(list1)

[400, 300, 7, 100, 200, 1000, 2000]

### 2.6 List Clear

In [69]:
list1.clear()
print(list1)

[]

### 2.9 Slices

In [71]:
fruits = ['grape', 'apple', 'strawberry', 'waxberry']
print(fruits)

['grape', 'apple', 'strawberry', 'waxberry']

In [72]:
fruits += ['pitaya', 'pear', 'mango']
print(fruits)

['grape', 'apple', 'strawberry', 'waxberry', 'pitaya', 'pear', 'mango']

In [75]:
for fruit in fruits:
    print(fruit.title(), end=' ')
print()

Grape Apple Strawberry Waxberry Pitaya Pear Mango

In [76]:
fruits2 = fruits[1:4]
print(fruits2)

['apple', 'strawberry', 'waxberry']

In [77]:
fruits3 = fruits[:]
print(fruits3)

['grape', 'apple', 'strawberry', 'waxberry', 'pitaya', 'pear', 'mango']

In [78]:
fruits4 = fruits[-3:-1]
print(fruits4)

['pitaya', 'pear']

In [79]:
fruits5 = fruits[::-1]
print(fruits5)

['mango', 'pear', 'pitaya', 'waxberry', 'strawberry', 'apple', 'grape']

### 2.10 Sort

In [81]:
list1 = ['orange', 'apple', 'zoo', 'internationalization', 'blueberry']
print(list1)

['orange', 'apple', 'zoo', 'internationalization', 'blueberry']

In [82]:
list2 = sorted(list1)
print(list2)

['apple', 'blueberry', 'internationalization', 'orange', 'zoo']

In [83]:
list3 = sorted(list1, reverse=True)
print(list3)

['zoo', 'orange', 'internationalization', 'blueberry', 'apple']

In [85]:
list4 = sorted(list1, key=len)
print(list4)

['zoo', 'apple', 'orange', 'blueberry', 'internationalization']

In [86]:
print(list1)
list1.sort(reverse=True)
print(list1)

['orange', 'apple', 'zoo', 'internationalization', 'blueberry']
['zoo', 'orange', 'internationalization', 'blueberry', 'apple']

## 2.11 Use generate statement create list

In [88]:
f = [x for x in range(1, 10)]
print(f)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
f = [x + y for x in 'ABCDE' for y in '1234567']
print(f)

['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7']

## 2.12 Trade off between memory and time

In [91]:
# 用列表的生成表达式语法创建列表容器
# 用这种语法创建列表之后元素已经准备就绪所以需要耗费较多的内存空间
import sys
f = [x ** 2 for x in range(1, 1000)]
print(sys.getsizeof(f))  # 查看对象占用内存的字节数
# print(f)

9024

In [94]:
# 请注意下面的代码创建的不是一个列表而是一个生成器对象
# 通过生成器可以获取到数据但它不占用额外的空间存储数据
# 每次需要数据的时候就通过内部的运算得到数据(需要花费额外的时间)
f = (x ** 2 for x in range(1, 1000))
print(sys.getsizeof(f))  # 相比生成式生成器不占用存储数据的空间
print(f)
#for val in f:
#    print(val)

120
<generator object <genexpr> at 0x000001D5FE046750>

## 3. Use yield statement

## 3.1 Fibonacci number
$${\displaystyle F_{0}=0}$$

$${\displaystyle F_{1}=1}$$

$${\displaystyle F_{n}=F_{n-1}+F_{n-2}}({n}\geq{2})$$

In [95]:
def fib(n):
    a, b = 0, 1
    for _ in range(n):
        a, b = b, a + b
        yield a

In [100]:
for val in fib(20):
    print(val,end=' ')

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

## 4. Tuples

In [103]:
t = ('Jax',28, True,'Dayton')
print(t)
print(t[0])
print(t[3])

('Jax', 28, True, 'Dayton')
Jax
Dayton

In [104]:
for member in t:
    print(member)

Jax
28
True
Dayton

## 4.1 Convert between tuple and list

In [106]:
person = list(t)
print(person)

['Jax', 28, True, 'Dayton']

In [107]:
fruits_list = ['apple', 'banana', 'orange']
fruits_tuple = tuple(fruits_list)
print(fruits_tuple)

('apple', 'banana', 'orange')

## 5 Set

## 5.1 Create and Modify Set

In [109]:
set1 = {1, 2, 3, 3, 3, 2}
print(set1)
print('Length =', len(set1))

{1, 2, 3}
Length = 3

In [110]:
set2 = set(range(1, 10))
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [112]:
set1.add(4)
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

In [113]:
set2.update([11, 12])
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12}

In [114]:
set2.discard(5)
print(set2)

{1, 2, 3, 4, 6, 7, 8, 9, 11, 12}

In [115]:
if 4 in set2:
    set2.remove(4)
print(set2)

{1, 2, 3, 6, 7, 8, 9, 11, 12}

In [117]:
for elem in set2:
    print(elem ** 2, end=' ')

1 4 9 36 49 64 81 121 144

In [118]:
set3 = set((1, 2, 3, 3, 2, 1))
print(set3.pop())
print(set3)

1
{2, 3}

## 5.2 Compute set

In [119]:
print(set1 & set2)
# print(set1.intersection(set2))
print(set1 | set2)
# print(set1.union(set2))
print(set1 - set2)
# print(set1.difference(set2))
print(set1 ^ set2)
# print(set1.symmetric_difference(set2))
# 判断子集和超集
print(set2 <= set1)
# print(set2.issubset(set1))
print(set3 <= set1)
# print(set3.issubset(set1))
print(set1 >= set2)
# print(set1.issuperset(set2))
print(set1 >= set3)
# print(set1.issuperset(set3))

{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12}
{4, 5}
{4, 5, 6, 7, 8, 9, 11, 12}
False
True
False
True

## 6 Dictionary

In [121]:
scores = {'Jax': 95, 'Evy': 78, 'Eric': 82}
print(scores['Jax'])
print(scores['Eric'])

95
82

In [122]:
for elem in scores:
    print('%s\t--->\t%d'%(elem,scores[elem]))

Jax	--->	95
Evy	--->	78
Eric	--->	82

In [123]:
scores['Evy']=65
scores['James'] = 71
print(scores)

{'Jax': 95, 'Evy': 65, 'Eric': 82, 'James': 71}

In [125]:
scores.update(Jimmy=67, Tommy=85)
print(scores)

{'Jax': 95, 'Evy': 65, 'Eric': 82, 'James': 71, 'Jimmy': 67, 'Tommy': 85}

## 6.1 Get

In [132]:
if 'Emma' in scores:
    print(scores['Emma'])
print(scores.get('Emma'))

None

In [131]:
print(scores.get('Emma', 60))

60

## 6.2 Delete

In [135]:
print(scores.popitem())
print(scores.popitem())
print(scores.pop('Jax', 100))

('Tommy', 85)
('Jimmy', 67)
95

## 6.3 Clear

In [136]:
scores.clear()
print(scores)

{}

# Practice

## 1. Show world on screen

In [138]:
import os
import time

content = 'Hi…………'
i = 0
while True:
    i = i+1
    os.system('cls')  # os.system('clear')
    print(content)
    time.sleep(0.2)
    content = content[1:] + content[0]
    if i==10:
        break

Hi…………
i…………H
…………Hi
………Hi…
……Hi……
…Hi………
Hi…………
i…………H
…………Hi
………Hi…

## 2. Generate passward

In [141]:
import random


def generate_code(code_len=4):
    all_chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    last_pos = len(all_chars) - 1
    code = ''
    for _ in range(code_len):
        index = random.randint(0, last_pos)
        code += all_chars[index]
    return code

In [142]:
print(generate_code(10))

Nm9YzFivhQ

## 3. Return the suffix

In [143]:
def get_suffix(filename, has_dot=False):

    pos = filename.rfind('.')
    if 0 < pos < len(filename) - 1:
        index = pos if has_dot else pos + 1
        return filename[index:]
    else:
        return ''

In [144]:
get_suffix('Test.txt')

'txt'

## 4. Return max two in the list

In [145]:
def max2(x):
    m1, m2 = (x[0], x[1]) if x[0] > x[1] else (x[1], x[0])
    for index in range(2, len(x)):
        if x[index] > m1:
            m2 = m1
            m1 = x[index]
        elif x[index] > m2:
            m2 = x[index]
    return m1, m2

In [147]:
x = [1,3,5,6,14,24]
y = max2(x)
print(y)

(24, 14)

## 5. Which day in the year

In [148]:
def is_leap_year(year):
    # :return: Is Leep retun True
    return year % 4 == 0 and year % 100 != 0 or year % 400 == 0

## 5.1 Use list

In [149]:
def which_day(year, month, date):

    days_of_month = [
        [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31],
        [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    ][is_leap_year(year)]
    total = 0
    for index in range(month - 1):
        total += days_of_month[index]
    return total + date

In [150]:
print(which_day(1980, 11, 28))
print(which_day(1981, 12, 31))
print(which_day(2018, 1, 1))
print(which_day(2016, 3, 1))

333
365
1
61

## 5.2 Use Tuples

In [151]:
def which_day(year, month, date):

    days_of_month = (
        (31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31),
        (31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)
    )[is_leap_year(year)]
    total = 0
    for index in range(month - 1):
        total += days_of_month[index]
    return total + date

In [152]:
print(which_day(1980, 11, 28))
print(which_day(1981, 12, 31))
print(which_day(2018, 1, 1))
print(which_day(2016, 3, 1))

333
365
1
61

## 6. Print Triangle

In [153]:
num = int(input('Number of rows: '))
yh = [[]] * num
for row in range(len(yh)):
    yh[row] = [None] * (row + 1)
    for col in range(len(yh[row])):
        if col == 0 or col == row:
            yh[row][col] = 1
        else:
            yh[row][col] = yh[row - 1][col] + yh[row - 1][col - 1]
        print(yh[row][col], end='\t')
    print()

Number of rows: 5
1
1	1
1	2	1
1	3	3	1
1	4	6	4	1

# Real Example

# 1. Power Ball

In [2]:
from random import randrange, randint, sample


def display(balls):
    
    for index, ball in enumerate(balls):
        if index == len(balls) - 1:
            print('|', end=' ')
        print('%02d' % ball, end=' ')
    print()


def random_select():
    red_balls = [x for x in range(1, 34)]
    selected_balls = []
    selected_balls = sample(red_balls, 6)
    selected_balls.sort()
    selected_balls.append(randint(1, 16))
    return selected_balls


def main():
    n = int(input('How many groups: '))
    for _ in range(n):
        display(random_select())


if __name__ == '__main__':
    main()

How many groups: 5
02 06 08 18 22 30 | 16
07 17 18 20 22 31 | 16
14 20 24 25 26 32 | 05
02 20 23 25 30 33 | 13
05 07 10 20 26 27 | 11

## 2. Josephus problem

In [4]:
'''
30 persons
'''
def main():
    persons = [True] * 30
    counter, index, number = 0, 0, 0
    while counter < 15:
        if persons[index]:
            number += 1
            if number == 9:
                persons[index] = False
                counter += 1
                number = 0
        index += 1
        index %= 30
    for person in persons:
        print('T' if person else 'F', end='')


if __name__ == '__main__':
    main()

TTTTFFFFFTTFTTTFTFFTTFFFTFFTTF

## 3. Tic-tac-toe

In [8]:
import os


def print_board(board):
    print(board['TL'] + '|' + board['TM'] + '|' + board['TR'])
    print('-+-+-')
    print(board['ML'] + '|' + board['MM'] + '|' + board['MR'])
    print('-+-+-')
    print(board['BL'] + '|' + board['BM'] + '|' + board['BR'])


def main():
    init_board = {
        'TL': ' ', 'TM': ' ', 'TR': ' ',
        'ML': ' ', 'MM': ' ', 'MR': ' ',
        'BL': ' ', 'BM': ' ', 'BR': ' '
    }
    begin = True
    while begin:
        curr_board = init_board.copy()
        begin = False
        turn = 'x'
        counter = 0
        os.system('clear')
        print_board(curr_board)
        while counter < 9:
            move = input('%s''s turn, please enter location: ' % turn)
            if curr_board[move] == ' ':
                counter += 1
                curr_board[move] = turn
                if turn == 'x':
                    turn = 'o'
                else:
                    turn = 'x'
            os.system('clear')
            print_board(curr_board)
        choice = input('New Game?(yes|no)')
        begin = choice == 'yes'


if __name__ == '__main__':
    main()

 | |
-+-+-
 | |
-+-+-
 | |
xs turn, please enter location: TR
 | |x
-+-+-
 | |
-+-+-
 | |
os turn, please enter location: TM
 |o|x
-+-+-
 | |
-+-+-
 | |
xs turn, please enter location: TL
x|o|x
-+-+-
 | |
-+-+-
 | |
os turn, please enter location: ML
x|o|x
-+-+-
o| |
-+-+-
 | |
xs turn, please enter location: MR
x|o|x
-+-+-
o| |x
-+-+-
 | |
os turn, please enter location: MM
x|o|x
-+-+-
o|o|x
-+-+-
 | |
xs turn, please enter location: BL
x|o|x
-+-+-
o|o|x
-+-+-
x| |
os turn, please enter location: BR
x|o|x
-+-+-
o|o|x
-+-+-
x| |o
xs turn, please enter location: BM
x|o|x
-+-+-
o|o|x
-+-+-
x|x|o
New Game?(yes|no)NO